<html>
    <head>
        <title>Blast Radius (Terraform Graph Tools)</title>
        <meta charset="utf-8">

        <script src="/static/js/jquery.slim.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/fontawesome-all.min.js"></script>

        <script src="/static/js/d3.v4.js"></script>
        <script src="/static/js/d3-tip.js"></script>
        <script src="/static/js/blast-radius.js"></script>
        <script src="/static/js/categories.js"></script>
        <script src="/static/js/svg-pan-zoom.js"></script>
        <script src="/static/js/selectize.js"></script>

        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/selectize.css">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <style>
        .navbar-nav > li {
            padding-left:6px;
        }
        .navbar-brand {
            font-family: 'courier new';
        }
        </style>
    </head>
    
    <body>

        <!-- navigation and controls -->
        <nav class="navbar fixed-top navbar-expand bg-light">
            <ul class="navbar-nav">
                <!--<li class="nav-item">
                        <a class="navbar-brand" href="/">blastradius</a>
                </li>-->
                <!-- back forward navigation.
                <li class="nav-item">
                    <button class="btn btn-primary" id="graph-prev"><i class="fas fa-caret-left"></i></button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-primary" id="graph-next"><i class="fas fa-caret-right"></i></button>
                </li>  
                -->
                <li class="nav-item">                    
                    <form class="form-inline my-2 my-lg-0" id="graph-search-form" >
                        <select style="width: 400px;" id="graph-search"></select>
                    </form>
                </li>
                {% if s3_mode %}
                <li class="nav-item">
                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="S3 State Files">
                            <i class="fas fa-file-code"></i> State Files
                        </button>
                        <div class="dropdown-menu" id="s3-states-menu">
                            <div class="dropdown-item">
                                <label><b>Available State Files</b></label>
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="dropdown-item" id="s3-states-loading">
                                <i class="fas fa-spinner fa-spin"></i> Loading...
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <button class="btn btn-warning" id="s3-refresh" title="Refresh S3 cache">
                        <i class="fas fa-sync"></i> Refresh
                    </button>
                </li>
                {% else %}
                <li class="nav-item">
                    <button class="btn btn-success" id="upload-state" title="Upload state file">
                        <i class="fas fa-upload"></i> Upload State
                    </button>
                    <input type="file" id="state-file-input" accept=".tfstate,.json" style="display: none;">
                </li>
                {% endif %}
                <li class="nav-item">
                    <button class="btn btn-danger" id="graph-refocus" title="prune to selection">&nbsp;<i class="fas fa-code-branch"></i></button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-primary" id="graph-zoom-out" title="zoom out">&nbsp;<i class="fas fa-search-minus"></i></button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-primary" id="graph-zoom-in" title="zoom in">&nbsp;<i class="fas fa-search-plus"></i></button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-primary" id="graph-download" title="download svg">&nbsp;<i class="fas fa-download"></i></button>
                </li>
                <!--<li class="nav-item">
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="module depth">
                            <i class="fas fa-puzzle-piece"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">1</a>
                            <a class="dropdown-item" href="#">2</a>
                            <a class="dropdown-item" href="#">3</a>
                            </div>
                    </div>
                </li>-->
                <li class="nav-item">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="tooltip options">
                            <i class="fas fa-magic"></i>
                        </button>
                        <div class="dropdown-menu">
                            <div class="dropdown-item">
                                <label><b>Tooltip Options</b></label>
                            </div>


                            <div class="dropdown-divider"></div>

                            <!-- Resource Name-->
                            <div class="dropdown-item form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" value="" id="graph-tooltip-title" checked>
                                  Resource Name
                                </label>
                              </div>

                              <!-- JSON-->
                              <div class="dropdown-item form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" value="" id="graph-tooltip-json" checked>
                                  JSON Definition
                                </label>
                              </div>

                              <!-- Immediate Dependencies-->
                              <div class="dropdown-item form-check">
                                    <label class="form-check-label">
                                      <input class="form-check-input" type="checkbox" value="" id="graph-tooltip-deps" checked>
                                      Dependencies
                                    </label>
                                  </div>
                            </div>
                    </div>
                </li>

                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" id="diagMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="help">
                            <i class="fas fa-question-circle" aria-hidden="true"></i>
                        </button>
                        <div class="dropdown-menu diagmenu" aria-labelledby="diagMenuButton">
                                <div class="dropdown-item">
                                    <label><b>Help &amp; Diagnostics</b></label>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="dropdown-item"><b>Project:</b> {{help.cwd}}</div>
                                <div class="dropdown-item"><b>Terraform:</b> {{help.tf_version}}</div>
                                <div class="dropdown-item"><b>Terraform Path:</b> {{help.tf_exe}}</div>
                                <div class="dropdown-item"><a href="https://28mm.github.io/blast-radius-docs">Blast Radius Documentation</a></div>
                                <div class="dropdown-item"><a href="https://www.github.com/28mm/blast-radius">Blast Radius GitHub</a></div>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>

        <!-- main document body -->
        <div class="container" height="70"></div><!-- ensure some padding at top -->
        <!-- no div#container b/c div#graph and child svg need to use all available area for
             pan/zoom interactions and to avoid clipping                                    -->
        
        <div id="graph"></div>

    </body>

    <script>

        // br_state['#graph'] maintains state for this instance of blastradius
        var br_state = { '#graph' : {}}
        var s3_mode = {{ 's3_mode' if s3_mode else 'false' }};
        var current_s3_key = null;
        
        // Initialize blast radius
        blastradius('#graph', '/graph.svg', '/graph.json', br_state);
        
        // S3 functionality
        if (s3_mode) {
            // Load available S3 state files on page load
            loadS3States();
            
            // Refresh button handler
            $('#s3-refresh').click(function() {
                refreshS3Cache();
            });
        } else {
            // Local mode - handle file uploads
            $('#upload-state').click(function() {
                $('#state-file-input').click();
            });
            
            $('#state-file-input').change(function(event) {
                var file = event.target.files[0];
                if (file) {
                    uploadStateFile(file);
                }
            });
        }
        
        function loadS3States() {
            $('#s3-states-loading').show();
            
            $.get('/api/s3/states')
                .done(function(data) {
                    var menu = $('#s3-states-menu');
                    // Remove existing state file items
                    menu.find('.state-file-item').remove();
                    
                    if (data.states && data.states.length > 0) {
                        data.states.forEach(function(state) {
                            var item = $('<a class="dropdown-item state-file-item" href="#" data-state="' + state + '">' + state + '</a>');
                            item.click(function(e) {
                                e.preventDefault();
                                loadStateFile(state);
                            });
                            menu.append(item);
                        });
                    } else {
                        var noStates = $('<div class="dropdown-item state-file-item">No state files found</div>');
                        menu.append(noStates);
                    }
                })
                .fail(function() {
                    var error = $('<div class="dropdown-item state-file-item text-danger">Error loading state files</div>');
                    $('#s3-states-menu').append(error);
                })
                .always(function() {
                    $('#s3-states-loading').hide();
                });
        }
        
        function loadStateFile(stateKey) {
            current_s3_key = stateKey;
            // Update the graph URLs to include the S3 key parameter
            var svgUrl = '/graph.svg?s3_key=' + encodeURIComponent(stateKey);
            var jsonUrl = '/graph.json?s3_key=' + encodeURIComponent(stateKey);
            
            // Reload the blast radius with the new URLs
            $('#graph').empty();
            blastradius('#graph', svgUrl, jsonUrl, br_state);
            
            // Update the page title or add some visual indicator
            $('title').text('Blast Radius - ' + stateKey);
        }
        
        function refreshS3Cache() {
            var button = $('#s3-refresh');
            var originalHtml = button.html();
            button.html('<i class="fas fa-spinner fa-spin"></i> Refreshing...');
            button.prop('disabled', true);
            
            $.post('/api/s3/refresh')
                .done(function() {
                    // Reload the state files list
                    loadS3States();
                    
                    // If we have a current state file, reload it
                    if (current_s3_key) {
                        loadStateFile(current_s3_key);
                    }
                })
                .fail(function() {
                    alert('Error refreshing S3 cache');
                })
                .always(function() {
                    button.html(originalHtml);
                    button.prop('disabled', false);
                });
        }
        
        function uploadStateFile(file) {
            var formData = new FormData();
            formData.append('state_file', file);
            
            // Show loading state
            var originalTitle = $('title').text();
            $('title').text('Processing state file...');
            
            $.ajax({
                url: '/api/state/process?format=json',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function(data) {
                    // Create a custom graph visualization from the processed data
                    displayUploadedStateGraph(data, file.name);
                    $('title').text('Blast Radius - ' + file.name);
                },
                error: function(xhr, status, error) {
                    var errorMsg = 'Error processing state file';
                    if (xhr.responseJSON && xhr.responseJSON.error) {
                        errorMsg += ': ' + xhr.responseJSON.error;
                    }
                    alert(errorMsg);
                    $('title').text(originalTitle);
                }
            });
        }
        
        function displayUploadedStateGraph(graphData, filename) {
            // Clear existing graph
            $('#graph').empty();
            
            // Create a data URL for the graph data
            var jsonBlob = new Blob([JSON.stringify(graphData)], {type: 'application/json'});
            var jsonUrl = URL.createObjectURL(jsonBlob);
            
            // Get SVG version for display
            var svgFormData = new FormData();
            svgFormData.append('state_file', $('#state-file-input')[0].files[0]);
            
            $.ajax({
                url: '/api/state/process?format=svg',
                type: 'POST',
                data: svgFormData,
                processData: false,
                contentType: false,
                success: function(svgData) {
                    var svgBlob = new Blob([svgData], {type: 'image/svg+xml'});
                    var svgUrl = URL.createObjectURL(svgBlob);
                    
                    // Initialize blast radius with the blob URLs
                    blastradius('#graph', svgUrl, jsonUrl, br_state);
                },
                error: function() {
                    alert('Error generating graph visualization');
                }
            });
        }

    </script>

</html>